.slider_cont {
    position: relative;
    display: inline-block;
  }
  
  .popup {
    height: 30px;
    width: 150px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    display: none;
    font-family: 'Nunito';
    position: absolute;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10000000;
  }
  
  .slider_cont:hover .popup {
    display: block;
  }