.tooltip {
    position: absolute;
    color: #fff;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
}

.samdt_img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.search-container {
    position: relative;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
  
.search-input {
    border: 0px;
    width: 300px;
    outline: none;
}

.calendar_floater_style {
    position: absolute;
    top: 175px;
    right: 15px;
    height: 5px;
}

.click_icon {
    cursor: pointer;
    border: 4px solid white;
}

.glowing {
    border: 4px solid #4E95F5;
    box-shadow: 0 0 7px #4E95F5;
}
  
/* Hide the scrollbar for WebKit browsers */
.table-container::-webkit-scrollbar {
display: none;
}

.edit-table-container {
    max-height: 78vh; 
    overflow-y: auto;
  }
  
/* Hide the scrollbar for WebKit browsers */
.edit-table-container::-webkit-scrollbar {
    display: none;
}


.img-magnifier-container {
    position: relative;
}

.magnifier-img {
    width: 960px;
    height: 540px;
}

.magnifier-image {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  z-index: 1500; /* ensure it's on top of everything */
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 70%;
  max-width: 960px; /* limit the max width */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* add shadow for depth */
  z-index: 1501; /* ensure modal content is on top of overlay */
}